[Desktop Entry]
Name=Argo UML
Comment=Argo UML
Type=Application
Icon=/mnt/shared/Common/usr/local/share/argouml/icon/ArgoIcon128x128.png
Exec=/mnt/shared/Common/usr/local/share/argouml/argouml.sh
