[Desktop Entry]
Name=JMeter
Comment=JMeter
Type=Application
Icon=/home/sfloess/Tools/apache-jmeter/bin/report-template/content/pages/icon-apache.png
Exec=/mnt/shared/common/usr/local/apache-jmeter/bin/jmeter