[Desktop Entry]
Name=Netbeans
Comment=Netbeans
Type=Application
Categories=Development;IDE;
Icon=/home/sfloess/Tools/netbeans/nb/netbeans.png
Exec=/home/sfloess/Tools/netbeans/bin/netbeans