[Desktop Entry]
Name=Netbeans
Comment=Netbeans
Type=Application
Categories=Development;IDE;
Icon=/home/sfloess/Tools/netbeans/nb/netbeans.png
Exec=/mnt/shared/Common/usr/local/share/netbeans/bin/netbeans
