[Desktop Entry]
Name=Postman
Comment=Postman
Type=Application
Icon=/home/sfloess/Tools/Postman/app/resources/app/assets/icon.png
Exec=/mnt/shared/common/usr/local/Postman/app/Postman