[Desktop Entry]
Name=SQuirreL SQL Client
Comment=SQuirreL SQL Client
Type=Application
Icon=/home/sfloess/Tools/squirrelsql/icons/acorn.png
Exec=/mnt/shared/Common/usr/local/squirrelsql/squirrel-sql.sh
